<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f4580215-5d3a-471c-b363-c0eaa861154f/resourceGroups/webTech/providers/Microsoft.ContainerRegistry/registries/techcontainerregistry</ResourceId>
    <ResourceName>techcontainerregistry</ResourceName>
    <ResourceGroup>webTech</ResourceGroup>
    <Subscription>Suscripción de Azure 1</Subscription>
    <RegistryUrl>https://techcontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>829e01b8-ba1d-49cc-93a5-3a56dc77a90d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>